header {
    div {
        cursor: pointer;
        user-select: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
            max-width: 30%;
            height: auto;
            padding-right: 1%;
        }
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    a {
        // margin-left: auto;
        padding: 1rem;
        text-decoration: none;
        color: black;

        &:hover {
            background-color: #f0f0f0;
        }
    }

}

#toggle {
    width: 150px;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0078d4;
    color: white;
    border: black 2px solid;
    border-radius: 14px;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}