<main>
    <h1>Add New Quest</h1>

    <form class="form" (submit)="createQuest($event)" novalidate>
        <label for="title">Title:</label>
        <input type="text" id="title" [field]="questForm.title" />
        @if (questForm.title().invalid() && questForm.title().touched()) {
            @for (error of questForm.title().errors(); track error.kind) {
                <div class="error">{{ error.message }}</div>
            }
        }

        <label for="description">Description:</label>
        <textarea id="description" [field]="questForm.description"></textarea>
        @if (questForm.description().invalid() && questForm.description().touched()) {
            @for (error of questForm.description().errors(); track error.kind) {
                <div class="error">{{ error.message }}</div>
            }
        }


        <label for="xp">XP:</label>
        <input type="number" id="xp" [field]="questForm.xp"/>
        @if (questForm.xp().invalid() && questForm.xp().touched()) {
            @for (error of questForm.xp().errors(); track error.kind) {
                <div class="error">{{ error.message }}</div>
            }
        }
        

        @if (questForm().invalid() && (questForm().touched() || questForm().dirty())) {
            <div class="error">All fields are required and XP must be a non-negative number.</div>
        }

        <button type="submit" [disabled]="questForm().invalid()">Add Quest</button>
    </form>
    <div class="back" [routerLink]="[`/quests`]">Back</div>
</main>