<main>
    <div class="card">
        <h1>{{ player?.username }}`s Profile</h1>
        <p>Level: {{ playerLevel }}</p>
        <p>Next Level In: {{ playerNextLevel }} xp</p>
        @if (player?.clan) {
        <p [routerLink]="[`/clans`, player?.clan?.name]">Clan: {{ player?.clan?.name }}</p>
        } @else {
        <p>No clan</p>
        }
        <img [src]="player?.profilePictureUrl" alt="{{ player?.username }}'s Profile Picture" />

        <section>
            <div class="quests-list">
                <h2 class="completed">Completed Quests</h2>
                <!-- @for (quest of player.questsList; track $index) {
                    <app-card
                    [ngClass]="{
                        `completed`: quest.completed,
                        `in-progress`: !quest.completed
                        }"
                        [questData]="quest"
                        [routerLink]="[`/quests`, quest.id]"
                        (completeQuest)="completeQuest($event)"
                        (deleteQuest)="deleteQuest($event)"
                        ></app-card>
                        } -->
                @for (quest of completedQuests(); track quest.id) {
                <app-card
                    class="completed"
                    [questData]="quest"
                    [routerLink]="[`/quests`, quest.id]"
                    (completeQuest)="completeQuest($event)"
                    (deleteQuest)="deleteQuest($event)"
                ></app-card>
                }
            </div>
            <div class="quests-list">
                <h2 class="in-progress">In Progress Quests</h2>
                @for (quest of inProgressQuests(); track quest.id) {
                <app-card
                    class="in-progress"
                    [questData]="quest"
                    [routerLink]="[`/quests`, quest.id]"
                    (completeQuest)="completeQuest($event)"
                    (deleteQuest)="deleteQuest($event)"
                ></app-card>
                }
            </div>
        </section>
    </div>
</main>
