<main>
    <div class="card">
        <h1>{{ player.username }}`s Profile</h1>
        <p>Level: {{ player.level }}</p>
        @if (player.clan) {
        <p [routerLink]="[`/clans`, player.clan.name]">Clan: {{ player.clan.name }}</p>
        } @else {
        <p>No clan</p>
        }
        <img [src]="player.profilePictureUrl" alt="{{ player.username }}'s Profile Picture" />

        <div class="quests-grid">
            <h2 class="completed">Completed Quests</h2>
            <h2 class="in-progress">In Progress Quests</h2>
            @for (quest of player.questsList; track $index) {
            <app-card
                [ngClass]="{
                    `completed`: quest.completed,
                    `in-progress`: !quest.completed
                }"
                [questData]="quest"
                [routerLink]="[`/quests`, quest.id]"
                (completeQuest)="completeQuest($event)"
                (deleteQuest)="deleteQuest($event)"
            ></app-card>
            }
        </div>
    </div>
</main>
