@import "../../../styles.scss";

@include main;
@include card;

section {
    display: flex;
    flex-direction: row;
    width: 100%;

    .quests-list {
        flex: 1;
        margin-right: 20px;
    }
}