<main>
    @if (clan) {
    <div class="card">
        <h1>Clan: {{ clan.name }}</h1>
        <p>Description: {{ clan.description }}</p>
        <p>Capacity: {{ clan.capacity }}</p>
        <p>Members:</p>
        <ul>
            @for (member of clan.players; track $index) {
            <li [routerLink]="[`/players`, member.username]">{{ member.username }}</li>
            <div
                class="delete"
                role="button"
                tabindex="0"
                aria-label="Delete quest"
                (click)="handleDelete(member.username)"
                (keydown.enter)="handleDelete(member.username)"
                (keydown.space)="$event.preventDefault(); handleDelete(member.username)"
            >
                🗑️
            </div>
            }
        </ul>
    </div>
    <div class="new" [routerLink]="[`member`]">
        +
    </div>
    } @else {
    <p>Clan not found.</p>
    }
</main>
