div {
  background: white;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .delete {
    cursor: pointer;
    color: red;
    float: right;
  }
}
